#doses {
  margin-top: 20px;
  padding-left: 0;
}

.dose {
  border-bottom: 1px solid lightgrey;
  list-style: none;
  padding-bottom: 20px;
}

.dose h1 {
  font-style: italic;
  color: grey;
}

.form {
  padding: 20px;
}

.line-horizontal {
  border-bottom: 1px solid lightgrey;
}

.line-vertical {
  border-left: 1px solid lightgrey;
}
